// About Section Styles

.about {

    &__wrapper {
        padding: 72px 200px 200px;
        max-width: $small-desktop-width;
        margin: 0 auto;
        flex-direction: column;
    }

    &__title {
        @extend .h2;
        margin-bottom: 32px;
        text-align: center;
    }

    &__content {
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;
    }

    &__text {
        @extend .body-bulk;
        max-width: 475px;

        p {
            margin-bottom: 32px;
        }
    }

    &__cta {
        @extend .body-med;
        color: $primary-color;
    }

    &__links {
        @extend .body-med;
        color: $primary-color;
        text-decoration: underline;
    }
}
