// Card Component Styles
.card-wrap {
    width: fit-content;
    margin: 0 auto;
}

.card {
    background-color: $white;
    color: $black;
    border-radius: 8px;
    margin: 0 auto 64px;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    max-width: 345px;
    transition: all .3s ease-in-out;
    border: 1px solid $light-border;
    @extend .box-shadow-light;

    @include laptop {
        height: 340px;
    }


    &:hover {
        @extend .box-shadow;
    }

    @include laptop {
        flex-direction: row;
        max-width: 690px;
    }

    &__img {
        width: 100%;
        height: auto;
        border-radius: 7px 7px 0 0;

        @include laptop {
            border-radius: 7px 0 0 7px;
            width: 340px;
            height: 338px;
        }
    }

    &__info {
        height: 100%;
        padding: 32px 50px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    
        &--title {
            margin-bottom: 24px;
            @extend .h3;
        }
    
        &--description {
            @extend .card-description;
            margin-bottom: 24px;
        }
    }

    &__chip {
        color: $gray;
        margin-bottom: 24px;
    }

    &__tools {
        flex-direction: row;
        justify-content: flex-start;
    }

    &__tool-icon {
        height: auto;
        width: 32px;
        margin-right: 8px;
    }
}