// Featured Section Styles

.featured {
    // background-color: $section-bg;

    &__wrapper {
        margin: 0 auto;
        padding: 32px;
        max-width: unset;

        @include laptop {
            padding: 72px 120px;
            max-width: $small-desktop-width;
        }
    }

    &__title {
        @extend .h2;
        margin-bottom: 40px;
        text-align: center;
    }
}