// Project Fonts
$extra-light: "Source Sans Extra Light";
$light: "Source Sans Light";
$regular: "Source Sans Regular";
$bold: "Source Sans Bold";
$alphapipe: "BC Alphapipe L Regular";
$alphapipe-bold: "BC Alphapipe RB Bold";
$urbanist-light: "Urbanist Light";
$urbanist-semi: "Urbanist Semi Bold";

// Text Styles

.nav-menu {
    color: $dark;
    @extend .h4;
    font-size: 20px;
    
    &::before {
        content: '';
        background-color: $primary-color;
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 50%;
        height: 4px;
        z-index: -1;
        transition: all .3s ease-in-out;
    }

    &:hover::before {
        width: 100%;
    }
}

.nav-active {
    @extend .nav-menu;
    color: $primary-color;
}

.nav-mobile {
    font-family: $bold;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 16px * 1.5;
    letter-spacing: 0.08em;
    color: $light-bg;
}

.h1 {
    font-family: $urbanist-light;
    text-transform: capitalize;
    font-size: 32px;
    line-height: 32px;
}

.h2 {
    font-family: $urbanist-semi;
    font-size: 32px;
    line-height: 32px;
}

.h3 {
    font-family: $regular;
    font-size: 24px;
    line-height: 24px * 1.4;
    margin-bottom: 24px;
}

.h4 {
    font-family: $bold;
    font-size: 16px;
    line-height: 16px * 1.6;
    text-transform: uppercase;
}

.body-light {
    font-family: $regular;
    font-size: 20px;
    line-height: 20px * 1.4;
}

.chips {
    font-size: 12px;
    line-height: 12px * 1.5;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
}

.card-description {
    font-size: 12px;
    line-height: 18px;
}

.footer {
    @extend .card-description;
    font-size: 16px;
}