/* Footer */
.footer {
    border-top: 4px solid $primary-color;
    background-color: $dark;
    
    &__wrapper {
        max-width: $small-desktop-width;
        justify-content: space-between;
        margin: 0 auto;
        padding: 32px;
        flex-direction: column;

        @include laptop {
            flex-direction: row;
            padding: 40px 128px;
        }

        @include laptop {
            padding: 48px 128px;
            max-width: $laptop-width;
        }
    }

    p {
        color: $light-bg;
        text-align: center;
        @extend .footer;
        margin-bottom: 24px;
        border-top: unset;

        @include laptop {
            margin: 0;
        }
    }

    &__social {
        justify-content: unset;

        li {
            height: 24px;
            max-width: 32px;
            margin-right: 24px;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            height: 24px;
        }

        svg {
            height: 24px;
            color: $light-bg;
            transition: all .3s ease-in-out;

            @include tablet {
                &:hover {
                    color: $projects;
                }
            }
        }
    }
}