/* Footer */
.footer {
    background-color: $primary-color;
    
    &__wrapper {
        max-width: $small-desktop-width;
        justify-content: space-between;
        margin: 0 auto;
        padding: 40px 120px;
    }

    p {
        color: $white;
        text-align: center;
        @extend .footer;
    }

    &__social {
        justify-content: unset;

        li {
            height: 24px;
            max-width: 32px;
            margin-right: 24px;
        }

        a {
            height: 24px;
        }

        img {
            height: 24px;

        }
    }
}