// Global Styles

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    @extend .body-light;
    color: $dark;
    background-color: $light-bg;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

// Utilities
.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-shadow {
    box-shadow: 0px 4px 4px 2px $box-shadow;
}

.box-shadow-light {
    box-shadow: 0px 4px 4px $box-shadow-dark;
}

.design {
    color: $design;
}

.design-bg{
    background-color: $design;
}

.design-bg-light {
    background-color: $design-light;
}

.design-btn {
    color: $dark;
    @extend .h4;
    font-family: $regular;
    font-size: 20px;
    position: relative;

        &::before {
            content: '';
            background-color: $design-light;
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 4px;
            z-index: -1;
            transition: all .3s ease-in-out;
        }
    
        &:hover::before {
            bottom: 0;
            height: 100%;
        }
}

.dev {
    color: $development;
}

.dev-bg {
    background-color: $development;
}

.dev-bg-light {
    background-color: $development-light;
}

.dev-btn {
    color: $dark;
    @extend .h4;
    font-family: $regular;
    font-size: 20px;
    position: relative;

    &::before {
        content: '';
        background-color: $development-light;
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 4px;
        z-index: -1;
        transition: all .3s ease-in-out;
    }

    &:hover::before{
        bottom: 0;
        height: 100%;
    }
}

.primary-btn {
    background-color: $primary-color;
    color: $light-bg;
}

.secondary-btn {
    color: $dark;
    @extend .h4;
    font-size: 20px;
}

.dark-color {
    color: $dark;
}