// Global Styles

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    @extend .body-light;
    color: $dark;
    background-color: $white;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

// Utilities
.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-shadow {
    box-shadow: 0px 4px 4px 2px $box-shadow;
}

.box-shadow-light {
    box-shadow: 0px 4px 4px $box-shadow-dark;
}

.design {
    color: $design;
}

.design-bg{
    background-color: $design;
}

.design-bg-light {
    background-color: $design-light;
}

.design-btn {
    color: $dark;
    @extend .h4;
    font-family: $regular;
    font-size: 20px;
    position: relative;

    &::before {
        content: '';
        background-color: $design;
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 50%;
        height: 4px;
        z-index: -1;
        transition: all .3s ease-in-out;
    }

    &:hover::before {
        width: 100%;
    }
}

.dev {
    color: $development;
}

.dev-bg {
    background-color: $development;
}

.dev-bg-light {
    background-color: $development-light;
}

.dev-btn {
    color: $dark;
    @extend .h4;
    font-family: $regular;
    font-size: 20px;
    position: relative;

    &::before {
        content: '';
        background-color: $development;
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 50%;
        height: 4px;
        z-index: -1;
        transition: all .3s ease-in-out;
    }

    &:hover::before{
        width: 100%;
    }
}

.primary-btn {
    background-color: $primary-color;
    color: $light-bg;
}

.dark-color {
    color: $dark;
}

.chip-btn {
    color: $dark;
    border-radius: 50px;
    padding: 4px 16px;
    min-width: 120px;
    @extend .chips;
    cursor: pointer;
    text-align: center;
    background-color: $dark;
    color: $white;
}

.design-chip{
    @extend .chip-btn;
    letter-spacing: 0.5;
    text-transform: uppercase;
    font-family: $bold;
    transition: all .3s ease-in-out;

    &--active{
        @extend .design-chip;
        color: $dark;
        background-color: $design-chip;
    }
    &:hover{
        @extend .box-shadow;
        transform: scale(1.05);
        background-color: $design-chip;
        color: $dark;
    }
}

.dev-chip{
    @extend .chip-btn;
    letter-spacing: 0.5;
    text-transform: uppercase;
    font-family: $bold;
    transition: all .3s ease-in-out;

    &--active{
        @extend .dev-chip;
        color: $dark;
        background-color: $development-chip;
    }
    &:hover{
        @extend .box-shadow;
        transform: scale(1.05);
        background-color: $development-chip;
        color: $dark;
    }
}

.card-design-chip{
    @extend .chip-btn;
    letter-spacing: 0.5;
    text-transform: uppercase;
    font-family: $bold;
    color: $dark;
    background-color: $design-chip;
}

.card-dev-chip{
    @extend .chip-btn;
    letter-spacing: 0.5;
    text-transform: uppercase;
    font-family: $bold;
    color: $dark;
    background-color: $development-chip;
}