// Global Styles

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    @extend .body-light;
    color: $dark;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

// Utilities
.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-shadow {
    box-shadow: 0px 4px 4px 2px $box-shadow;
}

.box-shadow-light {
    box-shadow: 0px 4px 4px $box-shadow-dark;
}

.design {
    color: $design;
}

.design-bg{
    background-color: $design;
}

.design-bg-light {
    background-color: $design-light;
}

.design-btn {
    color: $dark;
    @extend .h4;
    font-size: 20px;
    padding-bottom: 4px;
    border-bottom: solid 2px $design;
}

.dev {
    color: $development;
}

.dev-bg {
    background-color: $development;
}

.dev-bg-light {
    background-color: $development-light;
}

.dev-btn {
    color: $dark;
    @extend .h4;
    font-size: 20px;
    padding-bottom: 4px;
    border-bottom: solid 2px $development;
}

.primary-btn {
    background-color: $primary-color;
    color: $light-bg;
}

.secondary-btn {
    color: $dark;
    @extend .h4;
    font-size: 20px;
    padding-bottom: 4px;
    border-bottom: solid 2px $primary-color;
}

.dark-color {
    color: $dark;
}