/* Header Styles */
.header {
    position: sticky;
    top: 0;
    background-color: $white;
    @extend .box-shadow;
    z-index: 9;

    &__wrapper {
        margin: 0 auto;
        justify-content: flex-start;
        padding: 32px;

        @include tablet {
            justify-content: space-between;
            padding: 32px 64px;
        }

        @include laptop {
            padding: 32px 128px;
            max-width: $laptop-width;
        }
    }

    &__logo {
        height: auto;
        width: 150px;
    }

    &__nav {
        display: none;

        @include tablet {
            display: block;
        }
    }

    &__nav-li {
        margin-left: 40px;
        position: relative;
    }

    &__link {
        @extend .nav-menu;

        &--active {
            @extend .nav-active;
        }
    }

    &__mobile {
        @extend .nav-mobile;
        margin-bottom: 32px;
    }
}

// Mobile Nav Styles
/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 32px;
    top: 26px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: $dark;
}

.bm-burger-bars-hover {
    opacity: 1 !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: $white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
    top: 82px;
}

/* General sidebar styles */
.bm-menu {
    background: $dark;
    padding: 32px 0;
    font-size: 32px;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 32px;
}

/* Individual item */
.bm-item {
    display: inline-block;
}