/* Header Styles */
.header {
    position: sticky;
    top: 0;
    background-color: $white;
    @extend .box-shadow;
    z-index: 9;
    
    &__wrapper {
        padding: 32px 120px;
        justify-content: space-between;
        max-width: $small-desktop-width;
        margin: 0 auto;
    }

    &__logo {
        height: 36px;
        width: auto;
    }

    &__nav-li {
        margin-left: 40px
    }

    &__link{
        color: $black;
        @extend .nav-menu;

        &--active {
            @extend .nav-active;
        }
    }
}