// Intro Section Styles

.intro {
    flex-direction: column;
    padding: 32px;
    border-bottom: 1px solid rgba(102, 103, 171, 0.25);

    @include laptop {
        flex-direction: row;
        padding: 32px 200px 66px 255px;
    }

    @include small-desktop {
        padding: 32px 250px 66px 295px;
    }

    &__img {
        border-radius: 50%;
    }

    &__text-wrapper {
        max-width: 300px;
        max-height: unset;
        margin: 32px 0 0;

        @include laptop {
            margin-left: 51px;
        }

        @include small-desktop {
            max-width: 384px;
            max-height: 260px;
            margin-left: 101px;
        }
    }

    &__h1 {
        @extend .h1;
        margin-bottom: 16px;

        &--highlight {
            color: $primary-color;
        }
    }

    &__cta {
        @extend .body-med;
        color: $primary-color;
        margin: 36px 0 16px;
    }

    &__social {
        justify-content: unset;

        li {
            height: 24px;
            max-width: 32px;
            margin-right: 24px;
        }
        a {
            height: 24px;
        }

        img {
            height: 24px;
            
        }
    }
}