// Not Found Section Styles

.not-found {
    min-height: 80vh;

    &__wrapper {
        margin: 0 auto;
        padding: 32px;

        @include laptop {
            padding: 64px;
            max-width: $tablet-width;
        }
    }

    &__title {
        @extend .h2;
        margin-bottom: 40px;
        text-align: center;
    }

    &__content {
        flex-direction: column-reverse;

        @include tablet {
            align-items: center;
            margin: 0 auto;
        }

        @include laptop {
            flex-direction: row;
            align-items: flex-start;
        }
    }

    &__text {

        p {
            margin: 32px 0;
        }
    }

    &__img {
        width: 100%;
        max-width: 350px;
        margin-bottom: 32px;

        @include tablet {
            width: unset;
        }
    }

    &__btn {
        display: block;
        @extend .nav-mobile;
        @extend .box-shadow;
        background-color: $dark;
        padding: 12px 24px;
        text-align: center;

        @include tablet {
            max-width: 250px;
            &:hover {
                background-color: $primary-color;
                color: $dark;
            }
        }
    }
}