// Projects Page Styles

.projects {
    
    &__wrapper {
        margin: 0 auto;
        padding: 32px;
        max-width: unset;

        @include laptop {
            padding: 72px 120px;
            max-width: $small-desktop-width;
        }
    }

    &__title {
        @extend .h2;
        text-align: center;
        margin-bottom: 40px;
    }

    &__chips {
        margin: 0 auto 32px;
        max-width: 264px;
        justify-content: space-between;

        @include laptop {
            margin-bottom: 64px;
        }
    }}