// Project Details Page Styles

.project {
    background-color: $section-bg;
    padding: 32px;

    @include tablet {
        padding: 32px 64px;
    }

    @include laptop {
        padding: 72px 72px 96px;
    }

    @include small-desktop {
        padding: 72px 0 200px;
    }

    & p {
        @extend .body-bulk;
    }

    &__wrapper {
        margin: 0 auto;
        max-width: $laptop-width;
    }

    &__section-title{
        @extend .h2;
        text-align: center;
        color: $gray;
        margin-bottom: 32px;
        font-size: 16px;

        @include laptop {
            font-size: 24px;
            margin-bottom: 48px;
        }

        @include small-desktop {
            margin-bottom: 72px;
        }
    }

    &__card {
        background-color: $white;
        border-radius: 25px;
        @extend .box-shadow-light;
        padding: 16px;

        @include tablet {
            padding: 32px;
        }

        @include laptop {
            padding: 40px 88px 80px;
        }
    }

    &__title{
        @extend .project-title;
        font-size: 24px;
        line-height: 48px;

        @include tablet {
            font-size: 40px;
            line-height: 80px;
        }
    }

    &__subtitle {
        @extend .h3;
        color: $gray;
        margin: 8px 0 32px;
    }

    &__overview {
        align-items: flex-start;
        justify-content: space-evenly;
        color: $white;
        background-color: $primary-color;
        @extend .box-shadow-light;
        border-radius: 5px;
        flex-direction: column;
        padding: 16px;
        margin-bottom: 32px;

        @include tablet {
            flex-direction: row;
        }

        @include laptop {
            padding: 32px 24px;
        }

        @include small-desktop {
            padding: 48px;
        }

        &--left {
            margin-bottom: 24px;

            @include tablet {
                width: 45%;
                max-width: 45%;
                margin: 0;
            }

            @include small-desktop {
                max-width: 43%;
            }
        }

        &--right {
            @include tablet {
                width: 30%;
            }

            @include small-desktop {
                max-width: 40%;
                margin-left: 30%;
            }
        }

        & h2 {
            @extend .h2;
            margin-bottom: 16px;
        }

        & li {
            @extend .body-bulk;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        margin: 0 0 24px 0;

        @include small-desktop {
            height: 500px;
            width: auto;
        }
    }

    &__steps {
        margin-top: 64px;
    }

    &__step{
        align-items: flex-start;
        margin: 32px 0;
        flex-direction: column;

        & h3 {
            @extend .h3;
            color: $primary-color;
            margin-bottom: 16px;
        }

        & a {
            @extend .body-med;
            color: $primary-color;
            text-decoration: underline;
        }
    }
}