// Project Details Page Styles

.project {
    @extend .grid;
    background-color: $light;

    @include tablet {
        padding: 32px 64px;
    }

    @include laptop {
        padding: 72px 72px 96px;
    }

    @include small-desktop {
        padding: 72px 0 200px;
    }

    &__hero {
        padding: 32px;
    }

    &__wrapper {
        margin: 0 auto;
        max-width: $laptop-width;
    }

    &__section {
        padding: 32px 32px 40px;
    }

    &__title {
        margin-bottom: 24px;

        @include tablet {
            font-size: 40px;
            line-height: 80px;
        }
    }

    &__subtitle {
        color: $gray;
    }

    &__discipline{
        color: $gray;
        margin-bottom: 32px;

        @include laptop {
            font-size: 24px;
            margin-bottom: 48px;
        }

        @include small-desktop {
            margin-bottom: 72px;
        }
    }

    &__overview {
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
        margin-bottom: 40px;

        @include tablet {
            flex-direction: row;
        }

        @include laptop {
            padding: 32px 24px;
        }

        @include small-desktop {
            padding: 48px;
        }

        &--left {
            margin-bottom: 24px;

            @include tablet {
                width: 45%;
                max-width: 45%;
                margin: 0;
            }

            @include small-desktop {
                max-width: 43%;
            }
        }

        &--right {
            @include tablet {
                width: 30%;
            }

            @include small-desktop {
                max-width: 40%;
                margin-left: 30%;
            }
        }
    }

    &__img {
        width: 100%;
        height: auto;

        @include small-desktop {
            height: 500px;
            width: auto;
        }
    }

    & p {
        margin-bottom: 24px;
    }

    & a {
        text-decoration: underline;
    }
}