// Project variables

// Breakpoints
$mobile-width: 375px;
$tablet-width: 768px;
$laptop-width: 1024px;
$small-desktop-width: 1280px;
$large-desktop-width: 1920px;

// Color palette
$primary-color: #e087fb;
$secondary-color: #217f04;
$white: #ffffff;
$light-bg: #f2f2f2;
$light-border: rgba(102, 103, 171, 0.25);
$gray: #808080;
$dark-gray: #595959;
$black: #000000;
$dark: #222222;
$projects: #fbe087;
$projects-light: #fef9e6;
$projects-chip: #fce59a;
$box-shadow: rgba(0, 0, 0, 0.12);
$box-shadow-dark: rgba(0, 0, 0, 0.25);