.nav-menu, .header__link, .nav-active, .header__link--active {
  font-family: "Poppins SemiBold";
  font-size: 16px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.08em;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 4px;
}
.nav-menu:hover, .header__link:hover, .nav-active:hover, .header__link--active:hover {
  border-bottom: 2px solid #6667AB;
  color: #6667AB;
}

.nav-active, .header__link--active {
  color: #6667AB;
  border-bottom: 2px solid #6667AB;
}

.nav-mobile, .not-found__btn, .header__mobile {
  font-family: "Poppins SemiBold";
  font-size: 16px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #ffffff;
}

.h1, .intro__h1 {
  font-family: "Kalam Bold";
  font-size: 32px;
  line-height: 48px;
}

.h2, .not-found__title, .about__title, .project__overview h2, .project__section-title, .projects__title, .featured__title {
  font-family: "Poppins Medium";
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.04em;
}

.h3, .project__step h3, .project__subtitle, .card__info--title {
  font-family: "Poppins Medium";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

.project-title, .project__title {
  font-family: "Poppins Light";
  font-size: 40px;
  line-height: 80px;
  letter-spacing: 0.06em;
}

.body-light, body, .body-bulk, .not-found__text, .about__text, .project__overview li, .project p, .body-med, .about__links, .about__cta, .project__step a, .intro__cta {
  font-family: "Poppins Light";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08em;
}

.body-med, .about__links, .about__cta, .project__step a, .intro__cta {
  font-family: "Poppins Medium";
  letter-spacing: 0.04em;
}

.body-bulk, .not-found__text, .about__text, .project__overview li, .project p {
  line-height: 32px;
  letter-spacing: 0.04em;
}

.chips, .projects__chip, .card__info--chip {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
}

.card-description, .card__info--description, .footer, .footer p {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
}

.footer, .footer p {
  letter-spacing: 0.04em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-shadow, .not-found__btn, .card, .header {
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.12);
}

.box-shadow-light, .project__overview, .project__card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Header Styles */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 9;
}
.header__wrapper {
  margin: 0 auto;
  justify-content: flex-start;
  padding: 32px;
}
@media (min-width: 768px) {
  .header__wrapper {
    justify-content: space-between;
    padding: 32px 64px;
  }
}
@media (min-width: 1024px) {
  .header__wrapper {
    padding: 32px 128px;
    max-width: 1280px;
  }
}
.header__logo {
  height: 36px;
  width: auto;
}
.header__nav {
  display: none;
}
@media (min-width: 768px) {
  .header__nav {
    display: block;
  }
}
.header__nav-li {
  margin-left: 40px;
}
.header__link {
  color: #000000;
}
.header__mobile {
  margin-bottom: 32px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 32px;
  top: 32px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #1C1C1E;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ffffff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 107px;
}

/* General sidebar styles */
.bm-menu {
  background: #6667AB;
  padding: 32px 0;
  font-size: 32px;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 32px;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

.intro {
  flex-direction: column;
  padding: 32px;
  border-bottom: 1px solid rgba(102, 103, 171, 0.25);
}
@media (min-width: 1024px) {
  .intro {
    flex-direction: row;
    padding: 32px 200px 66px 255px;
  }
}
@media (min-width: 1280px) {
  .intro {
    padding: 32px 250px 66px 295px;
  }
}
.intro__img {
  border-radius: 50%;
}
.intro__text-wrapper {
  max-width: 300px;
  max-height: unset;
  margin: 32px 0 0;
}
@media (min-width: 1024px) {
  .intro__text-wrapper {
    margin-left: 51px;
  }
}
@media (min-width: 1280px) {
  .intro__text-wrapper {
    max-width: 384px;
    max-height: 260px;
    margin-left: 101px;
  }
}
.intro__h1 {
  margin-bottom: 16px;
}
.intro__h1--highlight {
  color: #6667AB;
}
.intro__cta {
  color: #6667AB;
  margin: 36px 0 16px;
}
.intro__social {
  justify-content: unset;
}
.intro__social li {
  height: 24px;
  max-width: 32px;
  margin-right: 24px;
}
.intro__social a {
  height: 24px;
}
.intro__social img {
  height: 24px;
}

.featured {
  background-color: #fafafa;
}
.featured__wrapper {
  margin: 0 auto;
  padding: 32px;
  max-width: unset;
}
@media (min-width: 1024px) {
  .featured__wrapper {
    padding: 72px 120px;
    max-width: 1280px;
  }
}
.featured__title {
  margin-bottom: 40px;
  text-align: center;
}

.card {
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  margin: 0 auto 32px;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  max-width: 345px;
}
@media (min-width: 1024px) {
  .card {
    flex-direction: row;
    max-width: 690px;
  }
}
.card__img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}
@media (min-width: 1024px) {
  .card__img {
    border-radius: 8px 0 0 8px;
    width: 340px;
  }
}
.card__info {
  padding: 32px 50px;
}
.card__info--chip {
  background-color: #EFEFEF;
  border-radius: 50px;
  padding: 4px 16px;
}
.card__info--title {
  margin: 24px 0 16px;
}
.projects {
  background-color: #fafafa;
}
.projects__wrapper {
  margin: 0 auto;
  padding: 32px;
  max-width: unset;
}
@media (min-width: 1024px) {
  .projects__wrapper {
    padding: 72px 120px;
    max-width: 1280px;
  }
}
.projects__title {
  text-align: center;
  margin-bottom: 40px;
}
.projects__chip {
  background-color: #EFEFEF;
  border-radius: 50px;
  padding: 4px 16px;
  margin-right: 32px;
  cursor: pointer;
}
.projects__chip:hover {
  background-color: #6667AB;
  color: #ffffff;
}

.project {
  background-color: #fafafa;
  padding: 32px;
}
@media (min-width: 768px) {
  .project {
    padding: 32px 64px;
  }
}
@media (min-width: 1024px) {
  .project {
    padding: 72px 72px 96px;
  }
}
@media (min-width: 1280px) {
  .project {
    padding: 72px 0 200px;
  }
}
.project__wrapper {
  margin: 0 auto;
  max-width: 1024px;
}
.project__section-title {
  text-align: center;
  color: #808080;
  margin-bottom: 32px;
  font-size: 16px;
}
@media (min-width: 1024px) {
  .project__section-title {
    font-size: 24px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1280px) {
  .project__section-title {
    margin-bottom: 72px;
  }
}
.project__card {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 16px;
}
@media (min-width: 768px) {
  .project__card {
    padding: 32px;
  }
}
@media (min-width: 1024px) {
  .project__card {
    padding: 40px 88px 80px;
  }
}
.project__title {
  font-size: 24px;
  line-height: 48px;
}
@media (min-width: 768px) {
  .project__title {
    font-size: 40px;
    line-height: 80px;
  }
}
.project__subtitle {
  color: #808080;
  margin: 8px 0 32px;
}
.project__overview {
  align-items: flex-start;
  justify-content: space-evenly;
  color: #ffffff;
  background-color: #6667AB;
  border-radius: 5px;
  flex-direction: column;
  padding: 16px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .project__overview {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .project__overview {
    padding: 32px 24px;
  }
}
@media (min-width: 1280px) {
  .project__overview {
    padding: 48px;
  }
}
.project__overview--left {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .project__overview--left {
    width: 45%;
    max-width: 45%;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .project__overview--left {
    max-width: 43%;
  }
}
@media (min-width: 768px) {
  .project__overview--right {
    width: 30%;
  }
}
@media (min-width: 1280px) {
  .project__overview--right {
    max-width: 40%;
    margin-left: 30%;
  }
}
.project__overview h2 {
  margin-bottom: 16px;
}
.project__img {
  width: 100%;
  height: auto;
  margin: 0 0 24px 0;
}
@media (min-width: 1280px) {
  .project__img {
    height: 500px;
    width: auto;
  }
}
.project__steps {
  margin-top: 64px;
}
.project__step {
  align-items: flex-start;
  margin: 32px 0;
  flex-direction: column;
}
.project__step h3 {
  color: #6667AB;
  margin-bottom: 16px;
}
.project__step a {
  color: #6667AB;
  text-decoration: underline;
}

.about__wrapper {
  margin: 0 auto;
  flex-direction: column;
  padding: 32px;
}
@media (min-width: 1024px) {
  .about__wrapper {
    padding: 64px 64px 96px;
  }
}
@media (min-width: 1280px) {
  .about__wrapper {
    padding: 72px 200px 200px;
    max-width: 1280px;
  }
}
.about__title {
  margin-bottom: 32px;
  text-align: center;
}
.about__content {
  width: 100%;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .about__content {
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .about__content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}
@media (min-width: 1280px) {
  .about__content {
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .about__text {
    min-width: 50%;
    margin-right: 32px;
  }
}
@media (min-width: 1280px) {
  .about__text {
    max-width: 475px;
  }
}
.about__text p {
  margin-bottom: 32px;
}
.about__img {
  width: 100%;
  max-width: 350px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .about__img {
    width: unset;
  }
}
.about__cta {
  color: #6667AB;
}
.about__links {
  color: #6667AB;
  text-decoration: underline;
}

.not-found {
  min-height: 80vh;
}
.not-found__wrapper {
  margin: 0 auto;
  flex-direction: column;
  padding: 32px;
}
@media (min-width: 1024px) {
  .not-found__wrapper {
    padding: 64px;
    max-width: 768px;
  }
}
.not-found__title {
  margin-bottom: 40px;
  text-align: center;
}
.not-found__content {
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .not-found__content {
    align-items: center;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .not-found__content {
    flex-direction: row;
    align-items: flex-start;
  }
}
.not-found__text p {
  margin: 32px;
}
.not-found__img {
  width: 100%;
  max-width: 350px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .not-found__img {
    width: unset;
  }
}
.not-found__btn {
  text-transform: capitalize;
  background-color: #6667AB;
  margin: 0 32px;
  padding: 12px 24px;
  border-radius: 5px;
}

/* Footer */
.footer, .footer p {
  background-color: #6667AB;
}
.footer__wrapper {
  max-width: 1280px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 32px;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .footer__wrapper {
    flex-direction: row;
    padding: 40px 128px;
  }
}
.footer p {
  color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
}
@media (min-width: 1024px) {
  .footer p {
    margin: 0;
  }
}
.footer__social {
  justify-content: unset;
}
.footer__social li {
  height: 24px;
  max-width: 32px;
  margin-right: 24px;
}
.footer__social li:last-child {
  margin-right: 0;
}
.footer__social a {
  height: 24px;
}
.footer__social img {
  height: 24px;
}

@font-face {
  font-family: "Poppins Light";
  src: url("../../assets/fonts/poppins-light.ttf");
}
@font-face {
  font-family: "Poppins Medium";
  src: url("../../assets/fonts/poppins-medium.ttf");
}
@font-face {
  font-family: "Poppins SemiBold";
  src: url("../../assets/fonts/poppins-semibold.ttf");
}
@font-face {
  font-family: "Kalam Bold";
  src: url("../../assets/fonts/kalam-bold.ttf");
}/*# sourceMappingURL=main.css.map */