.nav-menu, .about__links, .header__link, .nav-active, .header__link--active {
  color: #222222;
  font-size: 20px;
}
.nav-menu::before, .about__links::before, .header__link::before, .nav-active::before, .header__link--active::before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.nav-menu:hover::before, .about__links:hover::before, .header__link:hover::before, .nav-active:hover::before, .header__link--active:hover::before {
  background-color: #8B1874;
}

.nav-active::before, .header__link--active::before {
  width: 100%;
  background-color: #8B1874;
}

.nav-mobile, .not-found__btn, .project__nav-wrap, .header__mobile, .projects-btn {
  font-family: "Source Sans Bold";
  font-size: 16px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #f2f2f2;
}

.h1, .intro__h1 {
  font-family: "Urbanist Light";
  text-transform: capitalize;
  font-size: 32px;
  line-height: 32px;
}

.h2, .not-found__title, .about__title, .projects__title, .featured__title {
  font-family: "Urbanist Semi Bold";
  font-size: 32px;
  line-height: 32px;
}

.h3, .card__info--title {
  font-family: "Source Sans Regular";
  font-size: 24px;
  line-height: 33.6px;
  margin-bottom: 24px;
}

.h4, .nav-menu, .about__links, .header__link, .nav-active, .header__link--active {
  font-family: "Source Sans Bold";
  font-size: 16px;
  line-height: 25.6px;
  text-transform: uppercase;
}

.body-light, body {
  font-family: "Source Sans Regular";
  font-size: 20px;
  line-height: 28px;
}

.chips, .chip-btn, .chip-btn--active {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Source Sans Bold";
}

.card-description, .card__info--description, .footer, .footer p {
  font-size: 16px;
  line-height: 22.4px;
}

.footer, .footer p {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: #222222;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-shadow, .not-found__btn, .project__nav-wrap, .card, .header, .chip-btn, .chip-btn--active, .projects-btn {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.projects-bg {
  background-color: #AE5D9E;
}

.projects-bg-light {
  background-color: #DCBAD5;
}

.projects-btn {
  display: block;
  padding: 12px 24px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  margin-bottom: 24px;
  color: #ffffff;
  background-color: #AE5D9E;
  border-radius: 8px;
}
@media (min-width: 768px) {
  .projects-btn {
    max-width: 250px;
  }
  .projects-btn:hover {
    transform: scale(1.05);
  }
}

.primary-btn {
  background-color: #8B1874;
  color: #f2f2f2;
}

.dark-color {
  color: #222222;
}

.chip-btn, .chip-btn--active {
  color: #222222;
  border-radius: 50px;
  padding: 4px 16px;
  min-width: 120px;
  cursor: pointer;
  background-color: #222222;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.chip-btn--active {
  background-color: #AE5D9E;
}
@media (min-width: 768px) {
  .chip-btn:hover, .chip-btn--active:hover {
    transform: scale(1.05);
    background-color: #AE5D9E;
  }
}

.home {
  min-height: 100vh;
}

/* Header Styles */
.header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 9;
}
.header__wrapper {
  margin: 0 auto;
  justify-content: flex-start;
  padding: 32px;
}
@media (min-width: 768px) {
  .header__wrapper {
    justify-content: space-between;
    padding: 32px 64px;
  }
}
@media (min-width: 1024px) {
  .header__wrapper {
    padding: 32px 128px;
    max-width: 1024px;
  }
}
.header__logo {
  height: auto;
  width: 150px;
}
.header__nav {
  display: none;
}
@media (min-width: 768px) {
  .header__nav {
    display: block;
  }
}
.header__nav-li {
  margin-left: 40px;
  position: relative;
}
.header__mobile {
  margin-bottom: 32px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 32px;
  top: 26px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #222222;
}

.bm-burger-bars-hover {
  opacity: 1 !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ffffff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 82px;
}

/* General sidebar styles */
.bm-menu {
  background: #222222;
  padding: 32px 0;
  font-size: 32px;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 32px;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

.intro {
  flex-direction: column;
  padding: 32px;
  border-bottom: 1px solid rgba(102, 103, 171, 0.25);
}
@media (min-width: 1024px) {
  .intro {
    flex-direction: row;
    padding: 32px 200px 66px 255px;
  }
}
@media (min-width: 1280px) {
  .intro {
    padding: 32px 250px 66px 295px;
  }
}
.intro__img {
  border-radius: 50%;
}
.intro__text-wrapper {
  max-width: 300px;
  max-height: unset;
  margin: 32px 0 0;
}
@media (min-width: 1024px) {
  .intro__text-wrapper {
    margin-left: 51px;
  }
}
@media (min-width: 1280px) {
  .intro__text-wrapper {
    max-width: 384px;
    max-height: 260px;
    margin-left: 101px;
  }
}
.intro__h1 {
  margin-bottom: 16px;
}
.intro__h1--highlight {
  color: #217f04;
  font-family: "Urbanist Semi Bold";
}
.intro__cta {
  color: #217f04;
  margin: 36px 0 16px;
  font-family: "Urbanist Semi Bold";
}
.intro__social {
  justify-content: unset;
}
.intro__social li {
  height: 24px;
  max-width: 32px;
  margin-right: 24px;
}
.intro__social a {
  height: 24px;
}
.intro__social svg {
  height: 24px;
  color: #222222;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .intro__social svg:hover {
    color: #AE5D9E;
  }
}

.featured__wrapper {
  margin: 0 auto;
  padding: 32px;
  max-width: unset;
}
@media (min-width: 1024px) {
  .featured__wrapper {
    padding: 72px 120px;
    max-width: 1280px;
  }
}
.featured__title {
  margin-bottom: 40px;
  text-align: center;
}

.card-wrap {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.card {
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  margin: 0 auto 64px;
  align-items: flex-start;
  flex-direction: column;
  max-width: 345px;
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(102, 103, 171, 0.25);
}
@media (min-width: 1024px) {
  .card {
    flex-direction: row;
    max-width: 690px;
  }
}
.card__img {
  width: 100%;
  height: auto;
  border-radius: 7px 7px 0 0;
}
@media (min-width: 1024px) {
  .card__img {
    border-radius: 7px 0 0 7px;
    width: 340px;
    height: 338px;
  }
}
.card__info {
  height: 100%;
  padding: 32px 50px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-top: 1px solid rgba(102, 103, 171, 0.25);
}
@media (min-width: 1024px) {
  .card__info {
    border-left: 1px solid rgba(102, 103, 171, 0.25);
    border-top: unset;
    height: 338px;
  }
}
.card__info--title {
  margin-bottom: 8px;
}
.card__info--description {
  margin-bottom: 24px;
}
.card__chip {
  color: #808080;
  margin-bottom: 24px;
}
.card__tools {
  flex-direction: row;
  justify-content: flex-start;
}
.card__tool-icon {
  height: auto;
  width: 32px;
  margin-right: 8px;
}

.projects__wrapper {
  margin: 0 auto;
  padding: 32px;
  max-width: unset;
}
@media (min-width: 1024px) {
  .projects__wrapper {
    padding: 72px 120px;
    max-width: 1280px;
  }
}
.projects__title {
  text-align: center;
  margin-bottom: 40px;
}
.projects__chips {
  margin: 0 auto 32px;
  max-width: 264px;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .projects__chips {
    margin-bottom: 64px;
  }
}

.project__hero {
  padding: 32px;
}
@media (min-width: 768px) {
  .project__hero {
    padding: 32px 64px;
  }
}
@media (min-width: 1024px) {
  .project__hero {
    padding: 56px 128px;
  }
}
.project p {
  margin-bottom: 24px;
}
.project__wrapper {
  margin: 0 auto;
}
.project__section {
  padding: 32px 32px 40px;
  width: 100vw;
}
@media (min-width: 768px) {
  .project__section {
    padding: 32px 64px 48px;
  }
}
@media (min-width: 1024px) {
  .project__section {
    padding: 80px 128px;
  }
}
.project__section-content {
  max-width: 768px;
  margin: 0 auto;
}
.project__title {
  color: #ffffff;
}
@media (min-width: 768px) {
  .project__title {
    font-size: 40px;
    line-height: 80px;
  }
}
.project__subtitle {
  color: #595959;
}
.project__discipline {
  color: #808080;
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .project__discipline {
    font-size: 24px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1280px) {
  .project__discipline {
    margin-bottom: 72px;
  }
}
.project__overview {
  margin-bottom: 40px;
}
.project__overview--left {
  margin-bottom: 24px;
}
.project__overview--right li {
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 24px;
}
.project__overview--right img {
  width: 32px;
  height: auto;
  margin-right: 8px;
}
.project__overview--right p {
  margin: 0;
}
.project__ctas {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}
.project__img {
  width: 100%;
  height: auto;
}
@media (min-width: 1280px) {
  .project__img {
    height: auto;
    width: 768px;
  }
}
.project__nav {
  margin-bottom: 80px;
  display: block;
}
@media (min-width: 1024px) {
  .project__nav {
    padding: 0;
  }
}
.project__nav-wrap {
  position: relative;
  display: block;
  background-color: #222222;
  padding: 12px 24px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}
@media (min-width: 768px) {
  .project__nav-wrap {
    max-width: 280px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .project__nav-wrap:hover {
    background-color: #8B1874;
    transform: scale(1.05);
  }
}
.project__nav-wrap span {
  margin-left: 8px;
}
.project__nav-wrap svg {
  height: 16px;
}

.about {
  min-height: 100vh;
}
.about__wrapper {
  margin: 0 auto;
  flex-direction: column;
  padding: 32px;
}
@media (min-width: 1024px) {
  .about__wrapper {
    padding: 72px 120px;
    max-width: 1280px;
  }
}
.about__title {
  margin-bottom: 32px;
  text-align: center;
}
.about__content {
  width: 100%;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .about__content {
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .about__content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}
@media (min-width: 1280px) {
  .about__content {
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .about__text {
    margin-right: 32px;
  }
}
@media (min-width: 1280px) {
  .about__text {
    max-width: 475px;
  }
}
.about__text p {
  margin-bottom: 32px;
}
.about__img {
  width: 100%;
  max-width: 350px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .about__img {
    width: unset;
  }
}
@media (min-width: 1024px) {
  .about__img {
    max-width: 40%;
  }
}
@media (min-width: 1280px) {
  .about__img {
    max-width: 50%;
  }
}
.about__cta {
  color: #217f04;
  font-family: "Urbanist Semi Bold";
}
.about__links-wrap {
  position: relative;
  display: block;
}
.about__links {
  position: inherit;
}

.not-found {
  min-height: 80vh;
}
.not-found__wrapper {
  margin: 0 auto;
  padding: 32px;
}
@media (min-width: 1024px) {
  .not-found__wrapper {
    padding: 64px;
    max-width: 768px;
  }
}
.not-found__title {
  margin-bottom: 40px;
  text-align: center;
}
.not-found__content {
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .not-found__content {
    align-items: center;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .not-found__content {
    flex-direction: row;
    align-items: flex-start;
  }
}
.not-found__text p {
  margin: 32px 0;
}
.not-found__img {
  width: 100%;
  max-width: 350px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .not-found__img {
    width: unset;
  }
}
.not-found__btn {
  display: block;
  background-color: #222222;
  padding: 12px 24px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border: 4px solid #222222;
}
@media (min-width: 768px) {
  .not-found__btn {
    max-width: 250px;
  }
  .not-found__btn:hover {
    background-color: #8B1874;
    color: #222222;
    border: 4px solid #8B1874;
  }
}

/* Footer */
.footer, .footer p {
  border-top: 4px solid #8B1874;
  background-color: #222222;
}
.footer__wrapper {
  max-width: 1280px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 32px;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .footer__wrapper {
    flex-direction: row;
    padding: 40px 128px;
  }
}
@media (min-width: 1024px) {
  .footer__wrapper {
    padding: 48px 128px;
    max-width: 1024px;
  }
}
.footer p {
  color: #f2f2f2;
  text-align: center;
  margin-bottom: 24px;
  border-top: unset;
}
@media (min-width: 1024px) {
  .footer p {
    margin: 0;
  }
}
.footer__social {
  justify-content: unset;
}
.footer__social li {
  height: 24px;
  max-width: 32px;
  margin-right: 24px;
}
.footer__social li:last-child {
  margin-right: 0;
}
.footer__social a {
  height: 24px;
}
.footer__social svg {
  height: 24px;
  color: #f2f2f2;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .footer__social svg:hover {
    color: #AE5D9E;
  }
}

@font-face {
  font-family: "Source Sans Extra Light";
  src: url("../../assets/fonts/sourcesanspro-extralight.ttf");
}
@font-face {
  font-family: "Source Sans Light";
  src: url("../../assets/fonts/sourcesanspro-light.ttf");
}
@font-face {
  font-family: "Source Sans Regular";
  src: url("../../assets/fonts/sourcesanspro-regular.ttf");
}
@font-face {
  font-family: "Source Sans Bold";
  src: url("../../assets/fonts/sourcesanspro-bold.ttf");
}
@font-face {
  font-family: "Urbanist Light";
  src: url("../../assets/fonts/urbanist-light.ttf");
}
@font-face {
  font-family: "Urbanist Semi Bold";
  src: url("../../assets/fonts/urbanist-semibold.ttf");
}/*# sourceMappingURL=main.css.map */