@import "./partials/variables";
@import "./partials/fonts";
@import "./partials/mixins";
@import "./partials/global";
@import "./partials/app";
@import "./partials/header";
@import "./partials/intro";
@import "./partials/featured";
@import "./partials/card";
@import "./partials/projects";
@import "./partials/projectDetails";
@import "./partials/about";
@import "./partials/notFound";
@import "./partials/footer";

@font-face {
    font-family: "Source Sans Extra Light";
    src: url("../../assets/fonts/sourcesanspro-extralight.ttf");
}

@font-face {
    font-family: "Source Sans Light";
    src: url("../../assets/fonts/sourcesanspro-light.ttf");
}

@font-face {
    font-family: "Source Sans Regular";
    src: url("../../assets/fonts/sourcesanspro-regular.ttf");
}

@font-face {
    font-family: "Source Sans Bold";
    src: url("../../assets/fonts/sourcesanspro-bold.ttf");
}

@font-face {
    font-family: "Urbanist Light";
    src: url("../../assets/fonts/urbanist-light.ttf");
}

@font-face {
    font-family: "Urbanist Semi Bold";
    src: url("../../assets/fonts/urbanist-semibold.ttf");
}