/* Footer */
.footer {
    background-color: #6667AB;
    padding: 50px 25px;
}

.footer p {
    color: #ffffff;
    margin: 24px;
}

.social {
    flex-direction: row;
}

.social li {
    margin: 0 16px;
}