// Global Styles

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    @extend .body-light;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

// Utilities
.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-shadow {
    box-shadow: 0px 4px 4px 2px $box-shadow;
}