// Global Styles

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-size: 16px;
    font-family: $light;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

// Utilities
.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}