/* Header Styles */
.header {
    &__wrapper {
        padding: 32px 120px;
        justify-content: space-between;
        max-width: $small-desktop-width;
        margin: 0 auto;
    }

    &__logo {
        height: 36px;
        width: auto;
    }

    &__nav-li {
        margin-left: 40px
    }

    a{
        @extend .nav-menu;
    }
}